.user-menu {
  position: relative;
}

.avatar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color 0.25s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.avatar-button:hover {
  background-color: var(--color-background-accent);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgb(113 142 191 / 20%);
}

.avatar-button:active {
  transform: scale(0.95);
}

.avatar-placeholder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-accent-1);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-white);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  width: 250px;
  padding: 24px;
  background-color: var(--color-background-1);
  border-radius: 12px;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  z-index: 1000;
  animation: dropdownFade 0.2s ease;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdown-avatar-large {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--color-accent-1);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-white);
  font-size: 18px;
  font-weight: 600;
  flex-shrink: 0;
  text-transform: uppercase;
}

.dropdown-user-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 5px;
}

.dropdown-name {
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--color-text-dark);
}

.dropdown-email {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--color-text-light);
}

.dropdown-hr {
  border-width: 0 0 thin;
  border-style: solid;
  border-color: var(--color-border);
}

.logout-button {
  width: 100%;
  padding: 7px 14px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-accent-2);
  border: 1px solid var(--color-accent-2);
  transition: all 0.2s ease;
}

.logout-button:hover {
  border-color: var(--color-accent-2);
  background-color: var(--color-accent-2-light);
}