:root {
  --color-background-1: #fff;
  --color-background-2: #f9f9f9;
  --color-background-accent: #e7edffff;
  --color-text-dark: #343c6aff;
  --color-text-gray: #b1b1b1;
  --color-text-light: #718ebf;
  --color-text-white: #fff;
  --color-accent-1: #1814f3;
  --color-accent-1-light: #1814f314;
  --color-accent-2: #fe5c73ff;
  --color-accent-2-light: #fe5c730d;
  --color-accent-3: #16DBCC;
  --color-accent-3-light: #DCFAF8;
  --color-accent-4: #FFBB38;
  --color-accent-4-light: #FFF5D9;
  --color-border: #dfeaf2;
}

:root[data-theme="dark"] {
  --color-background-1: #1f2933;
  --color-background-2: #111827;
  --color-background-accent: #2a3441;

  --color-text-dark: #ffffff;
  --color-text-gray: #9ca3af;
  --color-text-light: #cbd5e1;
  --color-text-white: #ffffff;

  --color-accent-1: #2f9ec7;
  --color-accent-1-light: rgba(47, 158, 199, 0.15);

  --color-border: #374151;
}

:root[data-theme="blue"] {
  --color-background-1: #34495e;
  --color-background-2: #243447;
  --color-background-accent: #3b4b5c;

  --color-text-dark: #ffffff;
  --color-text-gray: #d1d5db;
  --color-text-light: #aab8d6;
  --color-text-white: #ffffff;

  --color-accent-1: #79a7e8;
  --color-accent-1-light: rgba(121, 167, 232, 0.15);

  --color-border: #4b5563;
}