.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.section-title {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 600;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 26px;
  background-color: var(--color-background-1);
  border-radius: 25px;
  flex-grow: 1;
}

.description {
  color: var(--color-text-light);
  font-weight: 300;
  line-height: 1.5;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.icon-send {
  color: var(--color-accent-4);
  background-color: var(--color-accent-4-light);
}

.icon-invest {
  color: var(--color-accent-3);
  background-color: var(--color-accent-3-light);
}
