.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 740px;
}

.section-title {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 600;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-background-1);
  padding: 27px 30px 38px 30px;
  border-radius: 25px;
}

.description {
  color: var(--color-text-light);
  font-weight: 300;
  line-height: 1.5;
}

.fields-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 22px;
  column-gap: 30px;
}

.button {
  display: flex;
  justify-content: center;
  max-width: 160px;
  padding: 12px 40px;
  background-color: var(--color-accent-1);
  color: var(--color-text-white);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.155);
  border-radius: 10px;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: translateY(-3px);
}

.button.loading {
  animation: pulse-color 1.5s ease-in-out infinite;
  transform: none;
}

@keyframes pulse-color {
  0% {
    background-color: var(--color-accent-1);
  }
  50% {
    background-color: #307bfc;
  }
  100% {
    background-color: var(--color-accent-1);
  }
}

.button:disabled {
  cursor: not-allowed;
}
